<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Error</title>
    <link rel="icon" href="images/weather.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <script src="js/app.js" defer></script>
</head>
<body>
    
    {{> header}}

    <main class="main-content container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card error-card">
                    <div class="card-body text-center">

                        <div class="error-message-container">
                            <h1 class="card-title error-message">{{error_message}}</h1>
                            <img class="errorImage" src="images/404.webp" alt="404 Icon">
                        </div>
                        
                        <p class="error-message">It seems like the page you're looking for doesn't exist or has been moved. Please check the URL and try again.</p>
                        <p class="suggestion">
                            In the meantime, you might want to visit our <a href="/">Weather Forecast Page</a> for the latest updates.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer class="main-footer">
        {{> footermenu }}
        <div class="container">
            <p>{{> footer}} <span id="current-date"></span></p>
        </div>
    </footer>

</body>
</html>
