<div class="footer-menu">
    <a href="/" class="footer-link {{#if (eq activePage 'weather')}}active{{/if}}">Weather</a>
    <a href="/about" class="footer-link {{#if (eq activePage 'about')}}active{{/if}}">About</a>
    <a href="/help" class="footer-link {{#if (eq activePage 'help')}}active{{/if}}">Help</a>
</div>
